body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Zona Pro";
  src: url("./fonts/ZonaPro/ZonaPro-ExtraBoldDemo.otf");
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 8px; 
  background-color: rgb(217, 217, 217);
}
::-webkit-scrollbar-thumb{
  background-color: #e37e4a;
}

.custom-font1{
  font-family: 'Oswald', sans-serif;
}

.active{
  color: #000;
  font-size: medium;
  font-weight:600;
}

.zona {
  font-family: "Zona Pro";
}

.didact {
  font-family: "Didact Gothic", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.shadow1{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}